
/* height of the form is given */
.form-group{
    top: 20px;
    height: 65px
    
} 

.disabled {
    cursor: not-allowed;
    pointer-events:visible;
  }
  
  .chooseFile {
  color: black !important;
    /* border: black 1px; */
    border-style: groove;
    background: #efefef;
    width: 79px;
  }

.col-md-12{
    padding-left: 0px;
}

.customfloat{
    -webkit-transform:translate(0px,-20px);

    font-size:11px !important;
}
/* content space for add patient module */
.adjust-content{
    padding-left:50px;
   
}
/* hover style for anchor tag */
a:hover {    
    text-decoration: underline;
}
/* margin for error display message */
.error-display-margin{
    margin-top:-5px;
  }
  

  /* table header style  */
table thead tr th{
    font-size:12px;
    color: white;
    font-weight: 500;
    background-color: #0471af;
    border: 1px solid #ddd;          
}

label{
    color: black  !important;
}

:host/deep/.mat-input-placeholder{
    color:black;
}

.card-header-height
{
    height: 45px !important;
    border-radius: 10px 10px;
    
}

/* margin for card title of advance search page*/
.card-title-margin{
    margin-top:0px; 
 }


.alert{
    margin-top: 1%;
    margin-bottom: 1%;
}

@media screen and (max-width: 790px) {
    .sample{
        width: 700px;
    }
}

/* patient list table content padding */
.table-padding{
    top:-60px !important;
}



/* hover style for anchor tag */
a:hover {    
    text-decoration: underline;
}



   .active1:after {
    content: "\2212" !important;
    
    }

   #change-collapse1:after {
    content: '\002B';
    color: #1d7fb7;
    font-weight: bold;
    font-size: 12px !important;
    margin-top:0px !important;
    float: right;
    margin-left: 5px;
    }

   .contents{
    background-color: #ffffff;
    margin-right:17px !important;
    margin-left:17px !important;
    margin-bottom: 17px !important;
    box-shadow: 5px 8px 38px  #888888;
  } 

  .datepicker {
      padding: 20px;
      margin: 30px;
    transform: translate(0, 3.1em);
  }

.labelinsurance{
    margin-top:18px;
} 
form-group input[type=file]{
    /* opacity: 0; */
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
} 

.approver{
    height: max-content;
    width: 200px;
}

.file-link{
    font-size: 13px;
    font-weight: 600;
}

/* for dob field */
 /* .form-group.label-floating:not(.is-empty) label.control-label-dob{
top:-6px ;
font-size: 12px ;
} */

/* .form-group.is-focused .control-label .control-label-age{
  transition-duration:0 !important;
} */

#staffCancel{
    background-color: white;
    border: none;
}

.notification{
    background: #f9f9f9;
    border: #f9f9f9;
}